---

- name: Clone adguardhome git
  ansible.builtin.git:
    repo: http://192.168.200.21:3000/maximilian/adguardhome.git
    dest: "{{ adguardhome_repo_dir  }}"
    version: main
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start adguardhome service
  community.docker.docker_compose_v2:
    project_src: "{{ adguardhome_repo_dir }}"
    pull: always
    remove_orphans: true
    state: present
