---

- name: Clone arr-services git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/arr-services.git"
    dest: /home/{{ ansible_user }}/arr-services
    version: main
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start arr-services services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/arr-services
    pull: always
    remove_orphans: true
    state: present
