---

- name: Clone admin-agents git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/admin-agents.git"
    dest: "/home/{{ ansible_user }}/{{ inventory_hostname_short }}-agents"
    version: master
    accept_hostkey: true
    clone: true
    update: true

- name: Create .env file with INFLUX_TOKEN and TELEGRAF_CONFIG
  ansible.builtin.template:
    src: .env.j2
    dest: "/home/{{ ansible_user }}/{{ inventory_hostname_short }}-agents/.env"
    mode: '0644'

- name: Create and start admin-agents services
  community.docker.docker_compose_v2:
    project_src: "/home/{{ ansible_user }}/{{ inventory_hostname_short }}-agents"
    pull: always
    remove_orphans: true
    state: present
