---

- name: Compress user home directory
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.archive:
    path: /home/{{ ansible_user }}/*
    dest: /tmp/{{ inventory_hostname_short }}.tar.gz
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '644'

- name: Fetching backup archives
  ansible.builtin.fetch:
    src: /tmp/{{ inventory_hostname_short }}.tar.gz
    dest: backup/
    flat: true

- name: Remove archive file
  ansible.builtin.file:
    path: /tmp/{{ inventory_hostname_short }}.tar.gz
    state: absent
