---

- name: Clone homepage git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/homepage.git"
    dest: "/home/{{ ansible_user }}/homepage"
    version: main
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start homepage service
  community.docker.docker_compose_v2:
    project_src: "/home/{{ ansible_user }}/homepage"
    pull: always
    remove_orphans: true
    state: present
