---

- name: Clone tvheadend git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/tvheadend.git"
    dest: /home/{{ ansible_user }}/tvheadend
    version: master
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start tvheadend services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/tvheadend
    pull: always
    remove_orphans: true
    state: present
