---

- name: Clone administration git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/administration.git"
    dest: /home/{{ ansible_user }}/administration
    version: master
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start administration services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/administration
    pull: always
    remove_orphans: true
    state: present
