---
- name: Install mount package
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.apk:
    update_cache: true
    name:
      - mount
      - cifs-utils
    state: latest

- name: Install linux-lts kernel
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.apk:
    update_cache: true
    name:
      - linux-lts
    state: latest
  notify: Reboot machine

- name: Remove linux-virt kernel
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.apk:
    name: linux-virt
    state: absent

- name: Mount data from NAS
  become: true
  become_user: root
  become_method: community.general.doas
  ansible.posix.mount:
    src: "{{ network_drive }}"
    path: "{{ mount_target }}"
    opts: "rw,vers=3,dom=ARBEITSGRUPPE,username={{ ad_username }},password={{ ad_password }},uid=1000,gid=1000"
    fstype: cifs
    state: mounted

- name: Enable netmount on boot
  become: true
  become_user: root
  become_method: community.general.doas
  ansible.builtin.service:
    name: netmount
    enabled: true
    runlevel: boot
