---

- name: Clone fhem-docker git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/fhem-docker.git"
    dest: {{ home_automation_repo_dir }}
    version: main
    accept_hostkey: true
    clone: true
    update: true

- name: Install linux-lts kernel for proper USB drivers
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.apk:
    update_cache: true
    name:
      - linux-lts
    state: latest
  notify: Reboot machine

- name: Remove linux-virt kernel
  become: true
  become_user: root
  become_method: community.general.doas
  community.general.apk:
    name: linux-virt
    state: absent

- name: Create and start home automation services
  community.docker.docker_compose_v2:
    project_src: {{ home_automation_repo_dir }}
    pull: always
    remove_orphans: true
    state: present
