---

- name: Clone stirling-pdf git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/stirling-pdf.git"
    dest: /home/{{ ansible_user }}/stirling-pdf
    version: main
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start stirling-pdf services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/stirling-pdf
    pull: always
    remove_orphans: true
    state: present
