---

- name: Clone wireguard git
  ansible.builtin.git:
    repo: "http://192.168.200.21:3000/maximilian/wireguard.git"
    dest: /home/{{ ansible_user }}/wireguard
    version: master
    accept_hostkey: true
    clone: true
    update: true

- name: Create and start wireguard services
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/wireguard
    pull: always
    remove_orphans: true
    state: present
